<!-- <app-persona [evento]></app-persona> -->
<p>empleado works!</p>
<div class="col-lg-4">
    <form class="form-inline">
        <div class="form-group">
            <label for="nombre">Salario </label>
            <input name="nombre" type="text" class="form-control" [(ngModel)]="empleadoDato.salario" placeholder="Ingrese nombre">
        </div>
        <br><br><br>
        <!-- <div class="form-group">
          <label for="correo">Seguro</label>
          <input name="correo" type="email" class="form-control" [(ngModel)]="apellido" placeholder="ingrese apellido">
      </div> -->

        <br><br><br>
    </form>
</div>
